table {
    border-collapse: separate;
    border-spacing: 0 1em;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(75, 74, 74);
  }

  th, td {
    padding: 1rem;
    width: 20%;
  }
tr {
    cursor: pointer;
}
tbody tr:hover {
    background-color: #cec7c7; /* or any other color you want */
    box-shadow: 0 0 5px #ccc;
}

tbody tr:active {
    background-color: #aca6a6; /* or any other color you want */
    box-shadow: 0 0 5px #ccc;
}
