<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Portfolio</title>
  </head>
  <body>
    <h1>Portfolio</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Quantity</th>
          <th>Current Price</th>
          <th>Cost Basis</th>
          <th>Current Total Value</th>
          <th>Total Cost Basis</th>
          <th>Percent Gain</th>
          <th>Date Purchased</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="asset : ${assets}">
          <td th:text="${asset.name}"></td>
          <td th:text="${asset.type}"></td>
          <td th:text="${asset.assetQuantity}"></td>
          <td th:text="${asset.currentAssetPrice}"></td>
          <td th:text="${asset.assetCostBasis}"></td>
          <td th:text="${asset.currentTotalValue}"></td>
          <td th:text="${asset.totalCostBasis}"></td>
          <td th:text="${asset.percentGain}"></td>
          <td th:text="${asset.datePurchased}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
