body {
  background: #d6d1d1
}

.form-control::-webkit-input-placeholder {
  font-size: smaller;
}

.form-control::-moz-placeholder {
  font-size: smaller;
}

.form-control:-ms-input-placeholder {
  font-size: smaller;
}

.form-control::placeholder {
  font-size: smaller;
}

